#back_arrow {
  width: 30px;
  height: 20px;
  left: 1%;
  top: 1%;
  position: absolute;
  z-index: 99;
}
#arrow_l_1 {
  top: 80%;
  width: 80%;
  height: 20%;
  background: white;
  transform: rotate(30deg);
  position: absolute;
  border-radius: 40px;
}
#arrow_l_2 {
  top: 20%;
  width: 80%;
  height: 20%;
  background: white;
  transform: rotate(-30deg);
  position: absolute;
  border-radius: 40px;
}

/* hover */
#back_arrow:hover {
  cursor: pointer;
}
